<!-- views/partials/header.ejs -->
<nav class="nav">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/pokidex">Pokidex</a>
  <a class="nav-link" href="/battle">Battle</a>
  <a class="nav-link" href="/contact">Contact</a>
</nav>