<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />

    <title>Contact Us</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <!-- Body -->
    <div id='pagetitle'>
		<h2> Meet the Team </h2>
	</div>
    <!--The contact cards-->
    <div class = 'contact-boxes'>
        <div class='box'>
            <img src='images/user.png' alt='' class='pfp'>
            <h1>Ethan Dillinger</h1>
            <h3>Fullstack Developer</h3>
            <p> 
                Github and LinkedIn logos and links go here
            </p>
        </div>
        <div class='box'>
            <img src='images/user.png' alt='' class='pfp'>
            <h1>Brandon Barker</h1>
            <h3>Web Developer</h3>
            <p> 
                Github and LinkedIn logos and links go here
            </p>
        </div>
        <div class='box'>
            <img src='images/user.png' alt='' class='pfp'>
            <h1>Jalen Gilyard</h1>
            <h3>Backend Developer</h3>
            <p> 
                Github and LinkedIn logos and links go here
            </p>
        </div>
        <div class='box'>
            <img src='images/user.png' alt='' class='pfp'>
            <h1>Zane Stauffer</h1>
            <h3>Backend Developer</h3>
            <p> 
                Github and LinkedIn logos and links go here
            </p>
        </div>
    </div>
    <!--The email form-->
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type message here..."></textarea>
        </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>