<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="dropdown_styles.css" rel="stylesheet" />
    <link href="dropdown_styles.css" rel="stylesheet" />

    <title>Pokemon Database</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="search-bar">
      <form name="searchbar">
        <input type="text" name="search">
      </form>
    </div>
    <p>
      Use advanced search to search by type, weakness, size, and more!
    </p>
    <div class="advanced-search">
      <form name="advancedsearch">
        <div class="type-filters">
          <div class="col-1">
            <input type="checkbox" id="type-normal" name="type-normal" value="normal">
            <label for="type-normal">Normal</label><br>
            <input type="checkbox" id="type-water" name="type-water" value="water">
            <label for="type-normal">Water</label><br>
            <input type="checkbox" id="type-fire" name="type-fire" value="fire">
            <label for="type-normal">Fire</label><br>
            <input type="checkbox" id="type-grass" name="type-grass" value="grass">
            <label for="type-normal">Grass</label><br>
            <input type="checkbox" id="type-electric" name="type-electric" value="electric">
            <label for="type-normal">Electric</label><br>
            <input type="checkbox" id="type-fighting" name="type-fighting" value="fighting">
            <label for="type-normal">Fighting</label><br>
            <input type="checkbox" id="type-flying" name="type-flying" value="flying">
            <label for="type-normal">Flying</label><br>
            <input type="checkbox" id="type-rock" name="type-rock" value="rock">
            <label for="type-normal">Rock</label><br>
          </div>
          <div class="col-2">
            <input type="checkbox" id="type-bug" name="type-bug" value="bug">
            <label for="type-normal">Bug</label><br>
            <input type="checkbox" id="type-poison" name="type-poison" value="poison">
            <label for="type-normal">Poison</label><br>
            <input type="checkbox" id="type-steel" name="type-steel" value="steel">
            <label for="type-normal">Steel</label><br>
            <input type="checkbox" id="type-ground" name="type-ground" value="ground">
            <label for="type-normal">Ground</label><br>
            <input type="checkbox" id="type-ice" name="type-ice" value="ice">
            <label for="type-normal">Ice</label><br>
            <input type="checkbox" id="type-psychic" name="type-psychic" value="psychic">
            <label for="type-normal">Psychic</label><br>
            <input type="checkbox" id="type-ghost" name="type-ghost" value="ghost">
            <label for="type-normal">Ghost</label><br>
            <input type="checkbox" id="type-fairy" name="type-fairy" value="fairy">
            <label for="type-normal">Fairy</label><br>
          </div>
        </div>
        <div class="height-filter">

        </div>
      </form>
    </div>
    <!-- Body -->


    <div class="searchbox">
        <input class="search-txt" type="text" name="" placeholder="Type to search">
        <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
    </div>

    <div class="advanced-search">
        <div class="types"></div>
        <div class="height"></div>
        <div class="weight"></div>
    </div>
    <div class="result-bar">

    </div>


    <% pokemon.forEach( pokemon => { %>
        <p><%= pokemon.name %></p>
    <% }) %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/86cacd20a9.js" crossorigin="anonymous"></script>
  </body>
</html>