@font-face {font-family: 'pkmn'; 
src: url('fonts/PKMN RBYGSC.ttf')format('truetype');}

@font-face {font-family: 'poke'; 
src: url('fonts/Pokemon_Solid.ttf')format('truetype');}

/* Dropdown Navbar */
.dropbtn {
    font-family: "poke", sans-serif;
    background: transparent;
    color: #FFCB05;
    text-shadow: 2px 2px #2d70b7;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    min-width: 160px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-family: "pkmn", sans-serif;
    background: #a9afa9;
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #050505;
}
.show {
    display: block;
}