@font-face {font-family: 'poke'; 
src: url('fonts/Pokemon_Solid.ttf')format('truetype');}

body {
	background: url(images/background.png) no-repeat;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #F7F7F7;
}

#navigation {
    position: relative;
    letter-spacing: 3.8px;
    top: 380px;
    font-size: 24px;
    font-family: "poke", sans-serif;
    background: transparent;
    text-decoration: none;
}

.nav-link {
    font-family: "poke", sans-serif;
    text-decoration: none;
    color: #FFCB05; 
    text-shadow: 2px 2px #2D70B7;
}

.nav-link:hover {
    color: yellow;
    outline: 2px;
}

#logo img { 
    width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-right: 40px;
}

#pogoro img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
}