@font-face {font-family: 'poke'; 
src: url('fonts/Pokemon_Solid.ttf')format('truetype');}

body {
	background: url(images/background.png) no-repeat;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #F7F7F7;
}

#navigation {
    position: relative;
    top: 430px;
    font-size: 24px;
    font-family: "pokemon_solid", sans-serif;
    background: transparent;
}

.nav-link{
    font-family: "poke", sans-serif;
    text-decoration: none;
    color: white;
}

.nav-link:hover{
    color: #FFCB05;
}

#logo img { 
    width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-right: 40px;
}

#pogoro img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
}

#mew img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}