body{
    max-width: 500px;
    margin: auto;
    background-color: #FFFFCC;
}

#logo img { 
    width:35%;
    display: block;
    float: right;
}

.searchbox{
    display: inline-block;
    text-align: center;
    background: #FFFFCC;
}

.type-filters{
    display: table;
}
.col-1{
    float: left;
    width: 50%;
}

.col-2{
    float: right;
}
