body{
    background-color: #FFFFCC;
    font-family: "pkmn", sans-serif;
}
.description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#logo img { 
    width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin: auto;
    display: inline;
    padding-bottom: 20px;
}
h2 {
    font-size: 25px;
}

.dropdown2 {
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    width: 50%;
}
.dropbtn2 {
    color: black;
    background-color: transparent;
    cursor: pointer;
    min-width: 160px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.dropbtn2:hover, .dropbtn:focus {
    background-color: red;
}
.dropdown-content2 {
    text-align: center;
    background: lightgray;
    border-radius: 25px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.show {
    display: block;
}

.type-filters{
    display: flex;
    flex-wrap: wrap;
}
.type-filters:after{
    clear: both;
}
.col-1 {
    flex-grow: 1;
    width: 33%;
    margin: auto;
}
.col-2 {
    padding-left: 50px;
    margin: auto;
}
.col-3 {
    float: right;
    margin: auto;
}
.type-checkbox{
    display: inline-block;
    width: 150px;
}
@media screen and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
}

.advanced-search {
    
}

.weight-height {
    text-align: center;
    display: inline;
    padding-top: 20px;
}
.weight > ul {
    list-style-type: none;
}
.weight > ul > li {
    display: inline-block;
}
.height > ul {
    list-style-type: none;
}
.height > ul > li {
    display: inline-block;
}

.searchbox {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
}
.searchButton {
    border-radius: 25px;
    background: transparent;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.searchButton:hover {
    background: red;
}
.search-txt {
    width: 50%;
    margin: auto;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222;
}
