/*This is a generalized style sheet*/
@font-face {font-family: 'pkmn'; 
src: url('fonts/PKMN RBYGSC.ttf')format('truetype');}

@font-face {font-family: 'poke'; 
src: url('fonts/Pokemon_Solid.ttf')format('truetype');}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
body {
	background-color: #F7F7F7;
}
